<nav class="navbar">
    <a href="{% url 'home' %}" class="navbar-brand">
        <div class="logo-icon"></div>
        <span class="brand-text">Clustering Trainer</span>
    </a>
    <div class="nav-links">
        <a href="{% url 'simulator:index' %}" class="nav-item">Симулятор</a>
        <a href="{% url 'simulator:task_list' %}" class="nav-item">Задачи</a>
        <a href="{% url 'encyclopedia:graph' %}" class="nav-item">База Знаний</a>
    </div>
    <div class="nav-auth">
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="btn btn-outline">{{ user.username }}</a>
        {% else %}
            <a href="{% url 'login' %}" class="nav-item">Вход</a>
        {% endif %}
    </div>
</nav>
