{% extends 'base.html' %}

{% block title %}No Tasks{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/tasks.css">
{% endblock %}

{% block content %}
<div class="notasks-body">
  <div class="notasks-box">
    <h1>Заданий пока нет</h1>
    <p>В базе данных не найдено ни одного задания (Task).</p>
    <p>Запустите скрипт наполнения через <code>python manage.py shell</code></p>
    <br>
    <a href="/simulator/" class="notasks-link">Вернуться назад</a>
  </div>
</div>
{% endblock %}
